/* Write your CSS code here */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: roboto;
}
.list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.item {
  padding: 10px;
}
